
.App {
  margin: 0;
  padding: 0;
  height: 99vh;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 30% 70%;
}



.App > div[id="left"] {
  background-color:hsl(226.18deg 73.33% 55.88%);
  color: white;
}

.App  > div  > img {
  width: 100%;
  margin-top: 10px;
}

.App > div[id="left"] > div > h1 {
  translate: 0% 200px;
  text-align: center;
  font-size: 80px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.App > div[id="left"] > div > p {
  translate: 20% 200px;
  text-align: left;
  width: 66%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  position: fixed;
  border: 1px solid;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}
